manifest {
	author = 'Georgie Samaha'
	name = 'IndexReferenceFasta-nf'
	description = 'Pipeline for producing reference genome index files for WGS analysis'
	homePage = 'https://github.com/Sydney-Informatics-Hub/IndexReferenceFasta-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion	= '!>=20.07.1'

// resume pipeline from last successful process
resume = true 

// Set default parameters
params {
	ref		= false
	help		= false
	bwa		= false
	samtools	= true
	gatk		= false
}

// Resource allocation 
process {
	withName: 'bwa_index' {
	cpus	= 1
	}

	withName: 'samtools_index' {
        cpus	= 1
	}

	withName: 'gatk_dict' {
        cpus	= 1
	}
}

// Preset use of containers with Singularity
//singularity {
//	enabled		= true
//	autoMounts	= true
//	temp		= '~/containers'
//}

// Use containerised tools and Singularity
params.bwa__container		= 'quay.io/biocontainers/bwa:0.7.17--h7132678_9'
params.samtools__container	= 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
params.gatk__container		= 'broadinstitute/gatk:4.3.0.0'

// Profiles
profiles {
	gadi		{ includeConfig "config/gadi.config"	}
	nimbus		{ includeConfig "config/nimbus.config"	}
//	standard	{ includeConfig "config/standard.config"}
}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram  
dag {
	enabled		= true
	overwrite	= true
	file		= 'runInfo/dag.svg'
}

report {
	enabled		= true
	overwrite       = true
	file		= 'runInfo/report.html'
}

timeline {
	enabled		= true
	overwrite       = true
	file		= 'runInfo/timeline.html'
}

trace {
	enabled		= true
	overwrite       = true
	file		= 'runInfo/trace.txt'
}
