/// profile for NCI Gadi HPC 

process {
	cache = 'lenient'
	stageInMode = 'symlink'
}

// See https://opus.nci.org.au/display/Help/Singularity
singularity {
	enabled         = true
	cacheDir        = "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"
	autoMounts      = true
	temp            = "scratch/${params.gadi_account}/${params.whoami}/containers"
}

// Resource allocation
process {
	executor	= 'pbspro'
	queue		= 'normal'
	module		= 'singularity'
	storage		= "scratch/${params.gadi_account}"
	memory		= 190.GB
	beforeScript = 'module load singularity nextflow'
        
	withName: 'bwa_index' {
	cpus    = 1
	time	= '1h'
	}
	
	withName: 'bwamem2_index' {
	cpus    = 1
	time	= '3h'
	}

	withName: 'samtools_index' {
	cpus    = 1
	time	= '3h'
	}

	withName: 'gatk_dict' {
	cpus    = 1
	time	= '3h'
	}
}
