/// profile for NCI Gadi HPC 

process {
	cache = 'lenient'
	stageInMode = 'symlink'
}

params {
// Gadi specific parameters
	cluster		= 'gadi'
	copyinput	= true
	localdisk	= false
	pbs_account	= false
	params.whoami	= false
}

// See https://opus.nci.org.au/display/Help/Singularity
singularity {
	enabled         = true
	cacheDir        = "/scratch/${params.pbs_account}/${params.whoami}/.nextflow/singularity"
	autoMounts      = true
	temp            = "scratch/${params.pbs_account}/${params.whoami}/containers"
}

// Resource allocation
process {
	executor	= 'pbspro'
	queue		= 'normal'
	module		= 'singularity'
	storage		= "scratch/${params.pbs_account}"
	beforeScript = 'module load singularity nextflow'
        
	withName: 'bwa_index' {
	cpus    = 1
	time	= '1h'
	container = 'quay.io/biocontainers/bwa:0.7.17--h7132678_9'
	}

	withName: 'samtools_index' {
	cpus    = 1
	time	= '3h'
	container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
	}

	withName: 'gatk_dict' {
	cpus    = 1
	time	= '3h'
	container = 'broadinstitute/gatk:4.3.0.0'
	}
}

executor {
	$pbspro {
		queueSize = 1000
		}
}
