/// profile for the Nimbus cloud at Pawsey

params {
// Nimbus specific parameters
	cluster = 'nimbus'
	work_dir = '/data/work'
}

workDir = ${params.work_dir}
process.cache = 'lenient'

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g) -v ${params.work_dir}:${params.work_dir}'
}

// Resource allocation
process {
        withName: 'bwa_index' {
        cpus    = 1
        }

        withName: 'samtools_index' {
        cpus    = 1
        }

        withName: 'gatk_dict' {
        cpus    = 1
        }
}
