/// profile for standard local run.
// Can edit depending on your system.

params {
// System-specific parameters
	cluster			= false
	process.cache	= 'lenient'
}

//docker {
//	enabled			= true
//	runOptions		= '-u $(id -u):$(id -g) -v $(pwd):/data'
//	autoMounts		= true
//}

singularity {
	enabled		= true
	autoMounts	= true
	temp		= '~/containers'
}

// Resource allocation
process {
	withName: 'bwa_index' {
	cpus	= 1
	}

    withName: 'samtools_index' {
    cpus	= 1
    }

    withName: 'gatk_dict' {
    cpus	= 1
    }
}